@theme {
  --text-button-lg: 16px;
  --text-button-md: 14px;
  --text-button-sm: 12px;
}

@layer components {
  .button-lg {
    font-size: var(--text-button-lg);
    line-height: var(--leading-base);
    font-weight: var(--font-extrabold);
  }

  .button-md {
    font-size: var(--text-button-md);
    line-height: var(--leading-base);
    font-weight: var(--font-extrabold);
  }

  .button-sm {
    font-size: var(--text-button-sm);
    line-height: var(--leading-base);
    font-weight: var(--font-extrabold);
  }
}
