body {
  font-family: var(--font-pretendard), sans-serif;
  line-height: 150%;
  letter-spacing: 0%;
}

@layer base {
  h1 {
    @apply text-[32px] font-bold;
  }

  h2 {
    @apply text-[28px] font-bold;
  }

  h3 {
    @apply text-[24px] font-bold;
  }
  h4 {
    @apply text-[20px] font-bold;
  }
  h5 {
    @apply text-[18px] font-bold;
  }
  h6 {
    @apply text-[16px] font-bold;
  }
}

@layer components {
  /* body */
  .b1 {
    @apply text-base font-normal;
  }

  .b2 {
    @apply text-sm font-normal;
  }

  /* caption */
  .c1 {
    @apply text-xs font-normal;
  }
  .c2 {
    @apply text-[10px] font-normal;
  }
}
